<!-- /* Written by Alexis Danz */ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Literary Mindfulness Meditation</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/login.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <h1>Log in</h1>
      <form method="POST">
        {% csrf_token %} 
        <!-- Email input -->
        <div class="email_input">
          <label for="username">Username</label>
          <br>
          <input type="username" name="username" placeholder="johndoe456" />
        </div>

        <!-- Password input -->
        <div class="password_input">
          <label for="password">Password</label>
          <br>
          <input type="password" name="password"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="signin">Sign in</button>

        {% if messages %}
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Register buttons -->
        <div class="register">
          <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</body>

</html>