<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Literary Mindfulness Meditation</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet">
</head>
<body>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>Sign up</h1>
        <form method="POST">
          {% csrf_token %}

          <!-- Script to get Boolean stating whether they want PD quotes or not-->
          <script>
            var quote = sessionStorage.getItem("pdQuotes");
            //console.log(quote);
          </script>

          <!-- First Name input -->
          <div class="email_input">
            <label for="fname">First Name</label>
            <br>
            <input type="fname" name="fname" class="form-control" placeholder=" John" />
          </div>

          <!-- Last Name input -->
          <div class="email_input">
            <label for="lname">Last Name</label>
            <br>
            <input type="lname" name="lname" class="form-control" placeholder=" Doe" />
          </div>
          
          <!-- Email input -->
          <div class="email_input">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" class="form-control" placeholder=" johndoe@gmail.com" />
          </div>

          <!-- Username input -->
          <div class="email_input">
            <label for="username">Username
               {% if messages %}
                {% for message in messages %}
                  <div style="color: red">{{ message }}</div>
                {% endfor %}
              {% endif %}
            </label>
            
            <input type="username" name="username" class="form-control" placeholder=" johnD456" />
          </div>
  
          <!-- Password input -->
          <div class="password_input">
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" class="form-control" />
          </div>
  
          <!-- Submit button -->
          <button type="submit" class="signup">Sign up</button>

          <!-- Return button -->
          <div class="register" style="text-align: center;">
            <p>Changed your mind? <a href="{% url 'index' %}">Go back to the homepage</a></p>
          </div>
  
        </form>
      </div>
    </div>
  </body>
</body>
</html>