<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literary Mindfulness Meditation</title>
    <link rel="stylesheet" href="{% static 'css/signupstylesheet.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="container" style="width: 800px;">
            <h1>Would you like to see material related to Parkinson's Disease as part of your meditation?</h1>

            <div class="type">

                <a href="{% url 'register' %}" style="text-decoration: none;">
                    <button onclick="sessionStorage.setItem('wantPDQuotes', 'true')" class="wellness_container">
                        <p>I <strong>would </strong>like to see quotes/images related to Parkinson's Disease as part of my meditation</p>
                        <img src="{% static 'img/yinyang.png' %}" height="150px" width="150px" alt="An outline of a head with a yin yang symbol">
                    </button>
                </a>

                <a href="{% url 'register' %}" style="text-decoration: none;">
                    <button onclick="sessionStorage.setItem('wantPDQuotes', 'false')" class="parkinson_container">
                        <p>I <strong>would not </strong> like to see quotes/images related to Parkinson's Disease as part of my meditation</p>
                        <img src="{% static 'img/parkinsons.png' %}" height="150px" width="150px" alt="An outline of a head with plants near the back of the skull">
                    </button>
                </a>

            </div>
            
            <a href="{% url 'index' %}"><button class="return">return to home page</button></a>
        </div>
    </div>
    
    
</body>
</html>