body {
  margin: 0 auto;
  background-color: #c0cfc0;
}

.reflection {
  background-color: white; 
  
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
  align-items: center;

}

.buttonwrap {
  display: flex;
  justify-content: center;
}

h1 { 
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
}

.separator { 
  width: 1300px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.date {
  background-color: #034B59;
  width: 200px;
  height: 35px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}

.text { 
  width: 1270px;
  font-size: 17px; 
  font-family: 'Playfair Display', sans-serif;
  position: relative;
  padding: 14px;
  margin-left: 70px;
  background-color: white;

}

#back { 
  background-color: #8C645C; 
  width: 200px;
  border-radius: 20px; 
  font-family: 'Playfair Display', sans-serif; 
  color: #FFFFFF; 
  font-size: 18px;
  margin: 0 auto;
  border: 1px solid gray;

}

#back.hover { 
  background-color: #8C645C;
  opacity: 0.4; 
  font-style: italic;
  cursor: pointer;
}