body {
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: 'Playfair Display', sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.container h1 {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}

.graph {
  width: 1000px;
  margin: 0 auto;
}

.options { 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h2 { 
  margin: 0 auto;
  text-align: center;
  background-color: #cddacd; 
  width: 800px;
}

.options p {
  margin: 10px;
  font-size: 22px;
}

.scoring { 
  display: flex; 
  flex-direction: row;
  width: 800px;
  margin: 0 auto;
  background-color: #cddacd; 
}

.groups { 
  display: flex; 
  flex-direction: column;
  margin: 0 auto;
}

button { 
  background-color: #9b746d; 
  width: 250px;
  height: 45px; 
  border-radius: 12px; 
  font-family: 'Playfair Display', sans-serif; 
  color: #FFFFFF; 
  font-size: 22px;
  margin: 0 auto;
  border: 2px solid rgb(174, 174, 174);
  position: relative;
  left: 1000px;
}

button:hover { 
  background-color: #8C645C;
  opacity: 0.4; 
  color: black;
  font-style: italic;
  cursor: pointer;
}

h5 {
  font-family: 'Playfair Display', sans-serif; 
  font-size: 24px;
}

.previous { 
  width: 800px; 
  margin: 0 auto; 
}

.separation {
  width: 800px; 
  border-top: 1px solid #8C645C;
  position: relative;
  bottom: 10px;
}

li { 
  font-size: 20px;
}