<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet">
  <title>Contact</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
  <div class="container">
    <h1>Contact</h1>

    <div class="picture">
      <img src="{% static 'img/frank-church.jpg' %}" alt="Headshot of Dr. Church">
    </div>
    <br>
    <div class="about">
      <h2>About</h2>
      <p>Frank C. Church is a Professor in the Departments of Pathology and Laboratory Medicine, Pharmacology, and Medicine in the School of Medicine at the University of North Carolina at Chapel Hill. He received his BS (1975) and MS (1978) degrees from Louisiana State University; he received a PhD (1982) from North Carolina State University; and after a postdoctoral fellowship at UNC-CH, has been on the faculty at UNC-CH since 1986.</p>

    </div>

    <div class="contact">
      <h2>Contact</h2>
      <br>
      <div class="number">
        <a href="tel:919-966-3314">(919)-966-3314</a>
      </div>

      <div class="email">
        <a href="mailto:fchurch@email.unc.edu">fchurch@email.unc.edu</a>
      </div>
      
    </div>
  </div>
</body>
</html>