<!-- /* Written by Alexis Danz */ -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Literary Mindfulness Meditation</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  {% load static %} 
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>
  <div class="wrapper">
    <div class="landing_container">
      <div class="landing_content">

        <div class="landing_text">
          <p>We are living in a world of anxiety, tension, and moments of negativity...</p>
          <h1>Literary Mindfulness Meditation</h1>
          <h3>Read something and enter the mindset of what you have read...
            <br><br>
            Stay in that moment and achieve a temporary but beneficial calmness.
          </h3>

          <div class="landing_buttons">
            <a href="login"><button class="login">log in</button></a>
            <a href="signup"><button class="sign_up">sign up</button></a>
            <a href="info"><button class="learn_more">learn more</button></a>
          </div>
        </div>

        <div class="landing_image">
          <img src="{% static 'img/landing.jpg' %}" width="620px" height="900px"
            alt="Picture of a person sitting at the end of the dock on a lake looking at the mountains.">
        </div>

      </div>

    </div>
  </div>
</body>

</html>