<!-- /* Written by Alexis Danz */ -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Literary Mindfulness Meditation</title>
  {% load static %} 
  <link rel="stylesheet" href="{% static 'css/info_stylesheet.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicon-16x16.png' %}">
</head>
<body>
  <div class="wrapper">
    <div id="info1_container" class="info1_container">
      <h1>What is Literary Mindfulness Meditation?</h1>
      <img src="{% static 'img/lightbulb.png' %}" class="lightbulb" height="300px" width="290px" alt="An outline of a lightbulb">
      <div class="main_text">
        <p>
          <br>
          <em><strong>Literary Mindfulness Meditation</strong></em> is reading something
          and entering the mindset of what you have read. 
          <br><br>
          You should achieve a <strong>temporary</strong> but <strong>beneficial calmness.</strong>
          <br><br>
          We are living in a world of anxiety, tension, and moments of negativity...
          <br><br>
          <strong>Using <em>Literary Mindfulness Meditation</em> will help releasing 
          this anxiousness and promote resiliency.</strong>
        </p>
      </div>

    <div class="info_buttons">
      <a href="{% url 'index' %}"><button class="return">return to the home page</button></a>
      <button class="continue" onclick="next()">continue</button>
    </div>
    </div>


    <div id="info2_container" class="info2_container" style="display:none;">
      <h1>What is Active Reflection?</h1>
      <img src="{% static 'img/yellow_lightbulb.png' %}" class="lightbulb" height="300px" width="290px" alt="An outline of a lightbulb">
      <div class="main_text">
        <p>
          <br>
          <em><strong>Active Reflection</strong></em> is focusing your mindset for 
          a moment and then <strong>writing your thoughts</strong> about the provided reading(s). 
          <br><br>
          The mindfulness journey begins by <strong>reading, pausing to think</strong> and ends
          by <strong>actively reflecting</strong> on your thoughts in <strong>writing a response.</strong>
          You should achieve a <strong>temporary</strong> but <strong>beneficial calmness.</strong>
        </p>
      </div>

    <div class="info_buttons">
      <button class="return" onclick="previous()">return to previous page</button>
      <a href="{% url 'sign_up_start' %}"><button class="continue">I'd like to sign up!</button></a>
    </div>
    </div>

    </div>
  </div>


  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>