{% comment %} Written by Emily Pumer and Julia Poliakova {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <title>Information</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/information.css' %}">
  <!-- script for symbol -->
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicon-16x16.png' %}">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>

<body>
  <header>
    <button id="home_button" onClick="javascript:history.go(-1);" title="go back to home page"> <span
        class="iconify-inline" data-icon="ant-design:home-outlined"></span> </button>
  </header>

  <div class="container">
    <h1>Information</h1>

    <div class="about">
      <br>
      <h2>About</h2>
      <p>The Literary Mindfulness Meditation is a web application primarily for use by individuals with Parkinson's
        Disease (PD) and their caretakers to help deal with negative thoughts and anxiety.</p>

      <p>The goal of the application is to help a user with PD, caretakers of those with PD, or the general public build
        resilience, reduce stress, and improve their Quality of Life (QoL).</p>

      <p>
        The user will use the application and each session will consist of the following phases:
        Read inspirational quotes on such topics as hope, positivity, and persistence for 1-2 minutes while meditating
        and thinking about the reading. Quotes are going to be accompanied with artwork (+ possibly meditating music) As
        part of active reflection, the user will write down their feelings after reading the quote and meditating.
        Repeat five times per week and, for users with Parkinson's Disease or caretakers who opt in, the application
        will provide the user with a PDPR (Parkinson's Disease Progress Report), which includes a summary of weekly
        activities and survey that inquires about the user's well-being.
      </p>

      <p>Literary Medicine and Active Reflection are tools that are not yet utilized in helping to improve the quality
        of life of patients with Parkinson's disease and could potentially provide a source of comfort for the patients,
        their caretakers, and anyone struggling with anxiety.</p>
      <br>
    </div>
    <br> <br>
    <div class="faq">
      <br>
      <h2>Frequently Asked Questions</h2>

      <div class="question">
        <h3>How do I access the meditation?</h3>
        <p>After signing up for Literary Mindfulness Meditation, you will arrive at your dashboard.
          To complete the daily reflection, you click on the 'today's activity' button. You will then be taken
          to your meditation, where an image and a quote are there for you to reflect on. A textbox is available for you
          to type and save
          your thoughts.
        </p>
      </div>

      <div class="question">
        <h3>I love doing meditations! How can I do more than one meditation?</h3>
        <p>Of course! After completing your first meditation, you can do meditation as many times as you would like
          by going to the dashboard page and clicking on the "Randomized reflection" button.
          Randomized reflections are completed the same way as regular reflections.</p>
      </div>

      <div class="question">
        <h3>How do I see my previous reflection entries?</h3>
        <p>On the dashboard, there is a "Past reflections" button. When you click on this, you will be
          redirected to a page that shows your prior reflections from most recent to oldest.
        </p>
        <br>
      </div>

      <div class="question">
        <h3> <span class="note">(Only for users who opted in for PD quotes)</span> How can I access Parkinson's Disease
          Progress Report (PDPR)?</h3>
        <p>The report is accessible on the dashboard by clicking on the "Parkinson's Disease Progress Report" button.
          Please, note that you can access the Parkinson's Disease Progress Report only after five days of completing
          meditations.</p>
      </div>

      <div class="question">
        <h3>Will anybody else be able to see what I wrote my reflections?</h3>
        <p>No! Don't worry, only you will be able to see your past reflections.</p>
      </div>

      <div></div>
    </div>
    <br>
  </div>
</body>

</html>