<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/meditation_css.css' %}">

    <!-- gets rid of favison.icon error -->
    <link rel="shortcut icon" href="#">
    <!-- meditation script -->
    <script src="{% static 'js/meditation_activity.js' %}" type="module"></script>
    <!-- script for symbol -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>

<body>
    <header>
        <button id="home_button" onClick="javascript:history.go(-1);" title="go back to home page"> <span
                class="iconify-inline" data-icon="ant-design:home-outlined"></span> </button>
    </header>

    <img class="background" src="{{picture.image.url}}" alt="">

    <div class="wrappers_dad">
        <div class="wrapper">

            <div class="column1 image">
                <img src="{{picture.image.url}}" alt="" width="800px" height="800px">
            </div>

            <div class="column2">
                <div class="shadow_box">

                    <div class="quote">
                        {% if user.wantPDQuotes %}
                            <p id="quote_text">{{ quote.quote }}</p>
                            <p id="author">{{ quote.author }}</p>
                        {% else %}
                            <p id="quote_text">{{ nonPDQuote.quote }}</p>
                            <p id="author">{{ nonPDQuote.author }}</p> 
                        {% endif %}
                    </div>

                    <div class="count_down">
                        <p id="timer">00:59</p>
                    </div>
                </div>

                <div class="textbox_cont">
                    <div id="form">
                        {% if submitted %}
                        Your reflection has been saved.
                        {% else %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <input id="reflect_button" type="submit" value="Submit Your Reflection">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>